html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  }
  
  html::-webkit-scrollbar {
    width: 0.8rem;
  }
  
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
  }
  
  body {
    background: transparent;
    overflow-x: hidden;
  }
  
  section {
    padding: 2rem 7%;
  }
  
  .heading {
    text-align: center;
    color: #191919;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
  }
  
  .heading span {
    color: #ffc107;
    text-transform: uppercase;
  }
  
  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: #ffc107;
    cursor: pointer;
  }
  
  .btn:hover {
    letter-spacing: 0.2rem;
  }
  
  .header {
    background: #010103;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 7%;
    border-bottom: 0.2rem solid #ffc107;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .header .logo img {
    max-width: 75px;
  }
  
  .header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
  }
  
  .header .navbar a:hover {
    color: #ffc107;
    border-bottom: 0.1rem solid #ffc107;
    padding-bottom: 0.5rem;
  }
  
  .header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
  }
  
  .header .icons div:hover {
    color: #ffc107;
  }
  
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
.blogs .box-container .box {
    border: 0.2rem solid #ffc107;
  }
  
  .blogs .box-container .box .image {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
  }
  
  .card img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
    max-height: 100px;
  }
  
  .blogs .box-container .box:hover .image img {
    transform: scale(1.2);
  }
  
  .blogs .box-container .box .content {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
  }
  
  .blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
  }
  
  .blogs .box-container .box .content .title:hover {
    color: #ffc107;
  }
  
  .blogs .box-container .box .content span {
    color: #ffc107;
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
  }
  
  .blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
  }
  .navbar {
    background-color: #333; 
    color: white;
    padding: 1rem 0; 
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 1rem; 
  }
  
  .navbar a {
    text-decoration: none;
    color: white; 
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: #ffc107;
  }
  
  .cartStyle {
    position: relative;
    display: inline-block;
  }
  
  .cartStyle span {
    background-color: red;
    color: #333;
    border-radius: 50%;
    padding: 0.1rem 0.1rem;
    position: absolute;
    top: -8px;
    right: 0px;
    font-size: 14px;
  }
  .height-auto{
      height: auto;
  }
  .cartWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .cartCard {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 1rem; 
    margin: 0.5rem; 
  }
  
  .cartCard img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5rem; 
    padding-right: 30px;
max-height: 100px;
  }
  
  .cartCard h5 {
    margin: 0;
    padding-right: 30px;
  }
  
  .btn {
    background-color: #007bff; 
    color: white; 
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3; 
  }
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button1 {
    background-color: #007bff;
    color: white; 
  }
  
  .button2 {
    background-color: #007bff;
    color: white; 
  }
  
  .button:hover {
    opacity: 0.8; 
  }
  
  
  